.Attribute[name$='Date'] {
    dataType: 'Date',
}
.Attribute[name$='Amount'] {
    dataType: 'Float',
}
.Attribute[name$='Count'] {
    dataType: 'Integer',
}
.Attribute[name='Name']
.Attribute {
    dataType: "String",
    maxWidth: 30,
}
