	  {{ name }} {{ module }}
	  {{# classes }}
            <div>{{ name }}, {{ caption }}</div>
	  {{/ classes }}
	  zzzz{{blah}}zzzz
	  {{^ classes }}
	    <div>No classes.</div>
	  {{/ classes }}
	  {{! I am a comment. }}
      